.main {
  max-width: 1150px;
}

.main h2, h3 {
  font-family:'Roboto', sans-serif;
  margin: 1rem;
}

.main p {
  margin-top: 0.4vw;
  font-size: 0.9rem;
  line-height: 1.6;
  text-align: justify;
  font-family:'Raleway', sans-serif;
}

.main {  
  border: 1px solid  rgb(255, 255, 255); padding: 1.25em 0; 
}

.main { 
  margin-bottom: .5em; 
}


/* MEDIA QUERIES */
@media screen and (min-width: 47.5em ) {
  .main { margin-right: 19.5em; } 
}


.clan{
  text-align: center;
}

.kodeks-text {
  padding: 1.2rem;
}
